############################
# Python
############################
__pycache__/
*.py[cod]
*.so
*.log

############################
# Virtual env / env vars
############################
venv/
.venv/
.env
.env.*

############################
# OS
############################
.DS_Store

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# ⚠️ 模型文件（核心）
############################
*.safetensors
*.pt
*.pth
*.ckpt
*.bin
*.onnx

server/app/models/chronos_models/
server/chronos-2-finetuned/

############################
# Data
############################
*.csv
*.parquet

############################
# Docker
############################
*.tar
*.zip

############################
# IDE
############################
.vscode/
.idea/